body {
  text-align: center;
  font-family: arial;
  color: grey;
  background: gray;
}

.container{
  background:white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 70%;
  padding: 20px;
  border: 2px solid #dddddd
}

.cabecera{
  background: rgb(18, 75, 231);
  padding: 10px;
  color: white;
  font-size: 25px;
  text-align: left;
}

h1{
  font-size: 25px;
  color: darkolivegreen;
}

p{
  font-family: 'Courier New', Courier, monospace;
}